body,header,nav,section,article.biografia
{
	display: block;
	padding: 3px;
	margin: 5px;
	font-family: calibri;
    font-size: 100%;
}
body
{
	background:  url(../imagenes/do.jpg) repeat center top;
}
header
{
    font-style: italic;
    color: #333;
    padding: 10px;
    text-shadow: -1px -1px 0px #101010, 1px 1px 0px #505050;
    text-align: center;
	font-size: 38px;
}
header:hover
{
    color:#fff;
    text-shadow: 0px 0px 15px #fff;
}
section.imagen img
{ 
	width:600px;
	height:550px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
   
}
section.imagen img:hover
{
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
 -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
section.imagen img:after {
  content: attr(title);
}
section.imagen
{
	width: 28%;
	float: left;
}
#link
{
	text-decoration: none;
	width: 28%;
	height: 5%;
	float: left;
	font-family: calibri;


}
#link li
{
	text-decoration: none;
	margin: 0;
	text-align: center;
    padding: 5px;
    border-radius: 10px 58px 10px 58px;
    clear: both;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    list-style: none;    
    font-weight: bold;
    line-height: 1;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    background: #DDA0DD;opacity: 0.9; 

}
#link ul,li,a
{
	text-decoration: none;
	color: #E6E6E6;
    font-weight: bold;
    font-style: italic;
    font-size: 120%;
    padding: 5px;
    display: block;font-size: 20px;
    color:#999;
    text-decoration:none;
    padding: 10px;
}
#link li:hover
{
    width: 300px;
}
#link a:hover {
    color:#fff;
    text-shadow: 0px 0px 15px #fff;
  }
.info
{ 
	width: 1200px;
    height: auto;
	float: right;
    border-radius: 10px 58px 10px 58px;
     -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    background: #ededed ; opacity: 0.8;
}
.info:hover
{
-webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  position: relative;
  z-index: 5;
 -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
article
{ 
    width: 1150px;
    text-align: center;
	font-family: Century Gothic;
	font-size: 100%;
	background-color: cadeblue;
}
h2{
    text-align: center;
}
section.imagenes img
{
	width: 400px;
	height: 300px;
    float: right;
}
section.imagenes
{
    float: right;
}
#pie 
{ 
	height:5%;
	width:100%;
	font-family: calibri;
	font-size: 70%;
	clear:both;
    border-radius: 5px 58px 5px 58px;
    color: #fff;
    text-align: center;
    padding: 1%;
}
#pie a{
	color: #fff;
}
#multi:hover, #git:hover
{
    -moz-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    transform:rotate(5deg);
}


/***************************************************
----- CONDICIONALES DE MEDIA QUERIES -----
****************************************************/
 @media screen and (max-width: 1850px){

     #pagewrap 
     {
        width: 95%;
    }
    header
    {
        width: 90%;
    }
    section.imagen
    {
        width: 28%;
        float: left;
    }
    #img
    {
        width: 450px;
        height: 450px;
    }
    #img:hover
    {
        -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    }
    section.info
    {
        width: 70%;
        float: top;
    }
    article
    {
        width: 100%;
    }
    #link
    {
        height: 40%;
    }
    section.imagenes #a #b #c
    {
        width: 65%;
    }
 }
 @media screen and (max-width: 1704px){

     #pagewrap 
     {
        width: 95%;
    }
    header
    {
        width: 90%;
    }
    section.imagen
    {
        width: 24%;
        float: left;
    }
    #img
    {
        width: 450px;
        height: 450px;
    }
    #img:hover
    {
        -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    }
    section.info
    {
        width: 70%;
        float: top;
    }
    article
    {
        width: 100%;
    }
    #link
    {
        width: 25%;
    }
    section.imagenes
    {
        width: 1100px;
        height: 300px;
    }
    #a, #b, #c
    {
        width: 33%;
    }
    .info:hover
    {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
    }
@media screen and (max-width: 1500px){

     #pagewrap 
     {
        width: 95%;
    }
    header
    {
        width: 90%;
    }
    section.imagen
    {
        width: 24%;
        float: left;
    }
    #img
    {
        width: 400px;
        height: 400px;
    }
    #img:hover
    {
        -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    }
    section.info
    {
        width: 65%;
        float: top;
    }
    article
    {
        width: 100%;
    }
    #link
    {
        width: 30%;
    }
    section.imagenes
    {
        width: 1450px;
        height: 300px;
    }
    #a, #b, #c
    {
        width: 33%;
    }
    .info:hover
    {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
    }
@media screen and (max-width: 1200px){

     #pagewrap 
     {
        width: 95%;
    }
    header
    {
        width: 90%;
    }
    section.imagen
    {
        width: 24%;
        float: left;
    }
    #img
    {
        width: 400px;
        height: 400px;
    }
    #img:hover
    {
        -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    }
    section.info
    {
        width: 60%;
        float: top;
    }
    article
    {
        width: 100%;
    }
    #link
    {
        width: 35%;
    }
    section.imagenes
    {
        width: 1100px;
        height: 300px;
    }
    #a, #b, #c
    {
        width: 33%;
    }
    .info:hover
    {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
    }
@media screen and (max-width: 980px) {
 
    #pagewrap {
        width: 95%;
    }
    header
    {
        width: 80%;
    }
    section.imagen
    {
        width: 90%;
        float: right;
    }
    #img
    {
    	width: 500px;
        height: 500px;
    }
    section.info, article
    {
        width: 90%;
        float: right;
    }
    #link
    {
       width: 90%; 
       float: center;
    }
#link li:hover
{
    width: 600px;
}
section.imagenes
    {
        width: 890px;
        height: 300px;
    }
    #a, #b, #c
    {
        width: 33%;
    }
    .info:hover
    {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
    }

 
@media screen and (max-width: 650px) {
 
    #pagewrap {
        width: 95%;
    }
    header
    {
        width: 80%;
    }
    section.imagen
    {
        width: 90%;
        float: right;
    }
    #img
    {
        width: 500px;
        height: 500px;
    }
    section.info, article
    {
        width: 90%;
        float: right;
    }
    #link
    {
       width: 90%; 
       float: center;
    }
    #link li:hover
    {
        width: 600px;
    }
    section.imagenes
    {
        width: 550px;
        height: 300px;
    }
    #a, #b, #c
    {
        width: 33%;
    }
    .info:hover
    {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
    }

 
 
@media screen and (max-width: 480px) { 
     #pagewrap {
        width: 95%;
    }
    header
    {
        width: 80%;
    }
    section.imagen
    {
        width: 90%;
        float: right;
    }
    #img
    {
        width: 350px;
        height: 500px;
    }
    section.info, article
    {
        width: 90%;
        float: right;
    }
    #link
    {
       width: 90%; 
       float: center;
    }
    #link li:hover
    {
        width: 400px;
    }
    section.imagenes
    {
        width: 400px;
        height: 690px;
    }
    #a, #b, #c
    {
        width: 95%;
        height: 30%;
    }
    .info:hover
    {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
    }

}
}
}
}
}
}
}

