*
{	
	padding: 0;
	margin: 0;
}
header
{
	text-align: center;
	font-size:200%;
	text-align: center;
	font-family: algerian;
}
body
{
	background: url("../imagenes/fondo.jpg") repeat scroll 0 0 rgba (0,0,0,0);
}
section
{ 
	font-family: algerian;
	width: 100%;
	float: right;
	font-size: 200%;
	text-align: center;

}
section.bloque
{
	box-shadow: 0 0 12px rgba (0,0,0,0.8);
	margin: auto;
	max-width: 1900px;
	width: 1900px !important;
}
article #uno,#dos,#tres
{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	margin: 0 auto;
	max-width: 1900px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 1900px !important;
	color: #FFFFFF;
}
#uno
{
	font-size: 130%;
	color: #FFFFFF;
	height: 1100px;
	background-image: url("../imagenes/nueva.jpg");
}
#dos
{
	font-size: 130%;
	background-image: url("../imagenes/nuevo1.jpg");
}
#tres
{
	font-size: 130%;
	background-image: url("../imagenes/nuevo3.jpg");
}
footer
{ 
	clear: both;
}
/***************************************************
----- CONDICIONALES DE MEDIA QUERIES -----
****************************************************/
 @media screen and (max-width: 1850px){

     #pagewrap,#git
     {
        width: 95%;
    }
    header
    {
        width: 95%;
    }
    h3
    {
        float: center;
    }
    video
    {
        width: 100%;
        float: center;
    }
    
 }
 @media screen and (max-width: 1704px){

     #pagewrap 
     {
        width: 95%;
    }
    header
    {
        width: 90%;
    }
    section.imagen
    {
        width: 24%;
        float: left;
    }
    
@media screen and (max-width: 1500px){

     #pagewrap
     {
        width: 95%;
    }
    #git
    {
        width: 100%;
    }
    h1
    {
        width: 1300px;
        float: center;
    }
    #img1
    {
        width: 1300px;
    }
    header
    {
        width: 95%;
    }
    .bloque
    {
        width: 1500px;
    }
    h3
    {
        float: center;
    }
    video
    {
        width: 90%;
        float: center;
    }
    
@media screen and (max-width: 1200px){

     #pagewrap,#git
     {
        width: 98%;
    }
    header
    {
        width: 98%;
    }
    h3,h1
    {
        width: 95%;
        float: center;
    }
    video
    {
        width: 90%;
        float: center;
    }
   
@media screen and (max-width: 740px) {
 
    #pagewrap,#git
     {
        width: 95%;
    }
    header
    {
        width: 95%;
    }
    h3,h1
    {
        float: center;
    }
    video
    {
        width: 600px;
        float: center;
    }
   
 
@media screen and (max-width: 650px) {
 
   #pagewrap,#git
     {
        width: 95%;
    }
    header
    {
        width: 95%;
    }
    h3
    {
        float: center;
    }
    video
    {
        width: 600px;
        float: center;
    }
    
 
@media screen and (max-width: 480px) { 
     #pagewrap,#git
     {
        width: 95%;
    }
    header
    {
        width: 95%;
    }
    h3
    {
        float: center;
    }
    video
    {
        width: 400px;
        float: center;
    }
   
}
}
}
}
}
}
}


